<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-header">Crear Cliente</div>
                <div class="card-body">
                    <form action="/pharmasan/crear_cliente" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name"
                                placeholder="Ingrese Nombre del cliente...">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="document" placeholder="Ingrese documento...">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Ingrese correo...">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" placeholder="Ingrese direccion...">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>