<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-header">Editar Cliente</div>
                <div class="card-body">
                    <form action="/pharmasan/editar_cliente/{{cliente.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" value="{{cliente.name}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="document" value="{{cliente.document}}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" value="{{cliente.email}}" >
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="address" value="{{cliente.address}}" >
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>