<div class="container p-4">
    <div class="card">
        <div class="card-header">Listado de Clientes</div>
        <div class="card-body">
            <a href="/pharmasan/crear_cliente" class="btn btn-primary my-3">Crear Cliente</a>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th class="text-center">Acciones</th>
                </thead>
                <tbody>
                    {{#each clientes}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{document}}</td>
                        <td>{{email}}</td>
                        <td>{{address}}</td>
                        <td>
                            <a href="/pharmasan/editar_cliente/{{id}}" class="btn btn-secondary btn-block my-2">Editar</a>
                            <a href="/pharmasan/eliminar_cliente/{{id}}" class="btn btn-danger btn-block">Eliminar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>