<div class="container p-4">
    <div class="col-md-6 mx-auto">
        <div class="card text-center">
            <div class="card-header">Perfil Usuario</div>
            <div class="card-body">
                <h3>Bienvenido {{user.name}}</h3>
                <p>{{user.email}}</p>
                <a href="/logout" class="btn btn-danger btn-block">Cerrar session</a>

            </div>
        </div>

    </div>
</div>