<div class="container p-4">
    <a href="/pharmasan/exportar-excel" class="btn btn-success my-3">Exporta Excel</a>
    <table class="table table-striped table-hover table-bordered table-sm small">
        <thead>
            <th>Nombre</th>
            <th>codigo</th>
            <th>descripcion</th>
            <th>laboratio</th>
            <th >Invima</th>
        </thead>
        <tbody>
            {{#each datos}}
            <tr>
                <td>{{id}}</td>
                <td>{{codigo}}</td>
                <td>{{descripcion}}</td>
                <td>{{laboratorio}}</td>
                <td>{{invima}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>