<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="/">Pharmasan Nodejs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/pharmasan/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pharmasan/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pharmasan/reporte">Reporte</a>
                </li>
                {{/if}}
            </ul>
            <ul class="nav nav-pills">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/perfil">Perfil</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {{/if}}

            </ul>
        </div>
    </div>
</nav>