<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-header">Crear Usuario</div>
                <div class="card-body">
                    <form action="/pharmasan/crear_usuario" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name"
                                placeholder="Ingrese Nombre del usuario..." required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Ingrese correo..."
                                required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password"
                                placeholder="Ingrese password..." required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>