<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-header">editar Usuario</div>
                <div class="card-body">
                    <form action="/pharmasan/editar_usuario/{{usuario.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" value="{{usuario.name}}" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" value="{{usuario.email}}" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password"  placeholder="Ingrese documento...">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>