<div class="container p-4">
    <div class="card">
        <div class="card-header">Listado de Usuarios</div>
        <div class="card-body">
            <a href="/pharmasan/crear_usuario" class="btn btn-primary my-3">Crear Usuario</a>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Fecha creacion</th>
                    <th class="text-center">Acciones</th>
                </thead>
                <tbody>
                    {{#each usuarios}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{email}}</td>
                        <td>{{rol}}</td>
                        <td>{{created_at}}</td>
                        <td>
                            <a href="/pharmasan/editar_usuario/{{id}}" class="btn btn-secondary btn-block my-2">Editar</a>
                            <a href="/pharmasan/eliminar_usuario/{{id}}" class="btn btn-danger btn-block">Eliminar</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>