<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

        <div class="card ">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Login</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>